In [1]:
import pandas as pd
import numpy as np

In [2]:
# Financial dataset

data_financial = {
    "Company": [
        "Primark",
        "The White Company"
    ],
    
    "Revenue_GBP_Million": [
        9500,   # Primark approx Â£9.5 billion
        800     # Estimated mid-size premium retailer
    ],
    
    "Profit_Margin_Percent": [
        11.9,   # reported Primark operating margin
        18.5    # premium retailers typically higher margin
    ],
    
    "Market_Position": [
        "Budget / Value Retail",
        "Premium Lifestyle Retail"
    ],
    
    "Primary_Customers": [
        "Low to Middle Income",
        "Middle to High Income"
    ]
}

financial_df = pd.DataFrame(data_financial)

# Calculate profit
financial_df["Profit_GBP_Million"] = (
    financial_df["Revenue_GBP_Million"]
    * financial_df["Profit_Margin_Percent"]
    / 100
)

financial_df

,Company,Revenue_GBP_Million,Profit_Margin_Percent,Market_Position,Primary_Customers,Profit_GBP_Million
0,Primark,9500,11.9,Budget / Value Retail,Low to Middle Income,1130.5
1,The White Company,800,18.5,Premium Lifestyle Retail,Middle to High Income,148.0

In [3]:
demographics_data = {
    
    "Company": [
        "Primark","Primark","Primark","Primark",
        "The White Company","The White Company","The White Company","The White Company"
    ],
    
    "Age_Group": [
        "18-24",
        "25-34",
        "35-44",
        "45-60",
        "25-34",
        "35-44",
        "45-54",
        "55+"
    ],
    
    "Income_Level": [
        "Low",
        "Low-Middle",
        "Middle",
        "Middle",
        "Middle",
        "Middle-High",
        "High",
        "High"
    ],
    
    "Gender": [
        "Female",
        "Female",
        "Female",
        "Female",
        "Female",
        "Female",
        "Female",
        "Female"
    ],
    
    "Customer_Percentage": [
        30,
        35,
        20,
        15,
        20,
        30,
        30,
        20
    ]
}

demographics_df = pd.DataFrame(demographics_data)

demographics_df

             Company Age_Group Income_Level  Gender  Customer_Percentage
0            Primark     18-24          Low  Female                   30
1            Primark     25-34   Low-Middle  Female                   35
2            Primark     35-44       Middle  Female                   20
3            Primark     45-60       Middle  Female                   15
4  The White Company     25-34       Middle  Female                   20
5  The White Company     35-44  Middle-High  Female                   30
6  The White Company     45-54         High  Female                   30
7  The White Company       55+         High  Female                   20

In [4]:
regional_data = {
    
    "Company": [
        "Primark","Primark","Primark",
        "The White Company","The White Company","The White Company"
    ],
    
    "Region": [
        "UK",
        "Europe",
        "USA",
        "UK",
        "Europe",
        "Online"
    ],
    
    "Sales_Percentage": [
        45,
        35,
        20,
        60,
        20,
        20
    ]
}

regional_df = pd.DataFrame(regional_data)

regional_df

             Company  Region  Sales_Percentage
0            Primark      UK                45
1            Primark  Europe                35
2            Primark     USA                20
3  The White Company      UK                60
4  The White Company  Europe                20
5  The White Company  Online                20

In [5]:
combined_df = pd.merge(
    demographics_df,
    financial_df,
    on="Company"
)

combined_df.head()

,Company,Age_Group,Income_Level,Gender,Customer_Percentage,Revenue_GBP_Million,Profit_Margin_Percent,Market_Position,Primary_Customers,Profit_GBP_Million
0,Primark,18-24,Low,Female,30,9500,11.9,Budget / Value Retail,Low to Middle Income,1130.5
1,Primark,25-34,Low-Middle,Female,35,9500,11.9,Budget / Value Retail,Low to Middle Income,1130.5
2,Primark,35-44,Middle,Female,20,9500,11.9,Budget / Value Retail,Low to Middle Income,1130.5
3,Primark,45-60,Middle,Female,15,9500,11.9,Budget / Value Retail,Low to Middle Income,1130.5
4,The White Company,25-34,Middle,Female,20,800,18.5,Premium Lifestyle Retail,Middle to High Income,148.0

In [6]:
financial_df.to_csv("financial_data.csv", index=False)

demographics_df.to_csv("demographics_data.csv", index=False)

regional_df.to_csv("regional_data.csv", index=False)

combined_df.to_csv("combined_retail_data.csv", index=False)

print("Datasets saved successfully")

Datasets saved successfully